---
import BaseLayout from "@/layouts/BaseLayout.astro";
const wsApiUrl = import.meta.env.PUBLIC_WS_API_URL;
---

<BaseLayout title="dynamodb-stream-chat">
  <h2>dynamodb-stream-chat</h2>
  <div>wsApiUrl: {wsApiUrl}</div>
</BaseLayout>
